# Python
__pycache__/
*.py[cod]
*.pyo


# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Migrations (optional — usually keep them)
# */migrations/*
# !*/migrations/__init__.py

